{% extends "shop/base.html" %}

{% block content %}
<div class="bg-yellow-100 p-6 rounded-lg shadow-md">
    <h3 class="text-2xl font-bold text-center text-yellow-700 mb-4">Salut Mr/Mrs {{ name }}</h3>
    <h4 class="text-lg text-gray-700 text-center">
        Merci de nous faire confiance à la société Manga's Store Mr/Mrs {{ name }}.
        Nous avons reçu votre commande et vous serez livré dans un délai convenable.
    </h4>

    <h5 class="text-lg font-bold mt-4">Produits commandés :</h5>
    <table class="min-w-full bg-white shadow-md rounded-lg overflow-hidden">
        <thead>
            <tr>
                <th class="py-2 px-4 border-b">Nom du produit</th>
                <th class="py-2 px-4 border-b">Prix unitaire</th>
                <th class="py-2 px-4 border-b">Quantité</th>
                <th class="py-2 px-4 border-b">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td class="py-2 px-4 border-b">{{ product.title }}</td>
                <td class="py-2 px-4 border-b">{{ product.price }} $</td>
                <td class="py-2 px-4 border-b">{{ product.quantity }}</td> <!-- Utilisez la quantité calculée -->
                <td class="py-2 px-4 border-b">{{ product.total_price }} $</td> <!-- Utilisez le prix total calculé -->
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h5 class="text-lg font-bold mt-4">Montant total : {{ total_amount }} $</h5>

    <div class="mt-6 text-center">
        <a href="{% url 'download_invoice' order.id %}" class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded">
            <i class="fas fa-download mr-2"></i>Télécharger la facture en PDF
        </a>
        <a href="{% url 'home' %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded mt-2">
            Retour à l'accueil
        </a>
    </div>

</div>
{% endblock %}